:root {
    --purple: rgb(175, 80, 175);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
}

#wrapper {
    display: flex;
    background-color: #fff;
    border-right: 16px solid var(--purple);
    border-radius: 16px;
}

#backImg {
    height: 900px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

#rightSide {
    display: flex;
    flex-direction: column;
    padding: 0px 60px;
}

#pinWheelWrapper {
    display: flex;
    justify-content: end;
}

#formWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
}

.input {
    display: flex;
    flex-direction: column;
}